$md-screen: 426px;
$lg-screen: 769px;

* {
  // font-family: "Helvetica Neue",Arial, Helvetica, sans-serif
  font-family: 'Roboto', sans-serif;
}

body {
  margin:0;
} 

.grid-container  {
  display: grid;
  height:100vh;
  grid-template-rows: 90px 60px 250px 1fr;
  grid-template-areas:
      "header"
      "control"
      "map"
      "info"
      ;

  @media screen and (min-width: $lg-screen) {
    height:100vh;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "header control"
      "info map";
  }
  
}
.header { 
  grid-area: header; 
  background-color: lightblue;
}

.control { 
  grid-area: control; 
  background-color: lightcoral;
}

.info { 
  grid-area: info; 
  background-color: #dadada;
  padding:0.5rem 0.5rem 0.5rem 0.2rem;
  overflow-y: scroll;

  input[type=text] {
    width: 100%;
    margin: 10px 0 20px;
  }
}

.map { 
  grid-area: map; 
  position:relative;
  // position: absolute;
  // top: 0;
  // right: 0;
  // left: 0;
  // bottom: 0;
}

.active-overlay {
  button {
    display: none;
  }
}

.active-overlay.activated {
  height:1.75rem;
  line-height: 1.75rem;
  width:100%;
  display:block;
  position:absolute;
  background-color:rgba(0,0,0,0.75);
  z-index:10;
  color:white;
  text-align:center;
  font-weight: bold;
  letter-spacing:0.03rem;
  font-size: 1.25rem;

  button {
    display: inline-block;
    position: absolute;
    right: 0.5rem;
    height: 1.25rem;
    line-height: 0.75rem;
    margin:0.25rem auto;
  }
}

.map-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.header {
  display:flex;
  justify-content: center;
  align-items: center;
  padding:0 25%;
  text-align:center;
  
  h1 {
    font-size:2rem;
  }
}

.control {
  color: white;
  display:flex;
  justify-content: center;
  align-items: center;

  .control-button {
    color: white;
    opacity: 0.75;
    letter-spacing:0.2rem;
    margin:0 1rem;
    cursor: pointer;

    &.active {
      font-weight: 900;
      opacity: 1;
      color: #333;
      background-color:white;
      padding:5px 10px;
      border-radius:5px;
    }
  }
}
