$md-screen: 426px;
$lg-screen: 769px;

* {
  font-family: "Helvetica Neue",Arial, Helvetica, sans-serif
}

.grid-container  {
  display: grid;
  height:100vh;
  grid-template-rows: 100px 100px 300px 1fr;
  grid-template-areas:
      "header"
      "control"
      "map"
      "info"
      ;

  @media screen and (min-width: $lg-screen) {
    height:100vh;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "header control"
      "info map";
  }
  
}
.header { 
  grid-area: header; 
  background-color: lightblue;
}

.control { 
  grid-area: control; 
  background-color: lightcoral;
}

.info { 
  grid-area: info; 
  background-color: white;
}

.map { 
  grid-area: map; 
  position:relative;
  // position: absolute;
  // top: 0;
  // right: 0;
  // left: 0;
  // bottom: 0;
}

.map-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
